**/bin/

**/obj/

**/out/

**/.vs/

**/.vscode/

**/.idea/

**/*.user

**/.dockerignore

**/Dockerfile

*/docker-compose.yml

**/.git/

**/.gitignore

**/README.md

**/*.md

**/node_modules/

**/npm-debug.log